<header>
  <h1>Tech-DEN</h1>
  <h2 class="view-favorites">
    <%= link_to "Return to Articles", root_path %>
  </h2>
</header>
<main>
  <% @facade.articles.each do |article| %>
    <%= link_to article[:url] do %>
      <article class="article-container">
        <div class="article-image-container">
          <img class="article-image" src= <%="#{article[:image]}"%> >
        </div>
        <div class="article-text-container">
          <div class="article-source-date-container">
            <div class="article-source">
              <h3><%= article[:source_name] %></h3>
            </div>
            <div class="article-published-at">
              <h4><%= article[:published_at] %></h4>
            </div>
          </div>
          <div class="article-title">
            <h2><%= article[:title] %></h2>
          </div>
          <div class="delete-favorite-container">
            <%= link_to "Delete Favorite", 
              delete_favorite_path(favorite: {id: article[:id]}),
              method: :delete,
              class: "delete-favorite" %>
          </div>
        </div>
      </article>
    <% end %>
  <% end %>
</main>