<header>
  <h1>Tech-DEN</h1>
  <h2 class="view-favorites">
    <%= link_to "View Favorites", favorites_path %>
  </h2>
</header>
<main>
  <% @facade.articles.each do |article| %>
    <%= link_to article[:url] do %>
      <article class="article-container">
        <div class="article-image-container">
          <img class="article-image" src= <%="#{article[:urlToImage]}"%> >
        </div>
        <div class="article-text-container">
          <div class="article-source-date-container">
            <div class="article-source">
              <h3><%= article[:source][:name] %></h3>
            </div>
            <div class="article-published-at">
              <h4><%= article[:age] %></h4>
            </div>
          </div>
          <div class="article-title">
            <h2 class="headline"><%= article[:title] %></h2>
          </div>
          <div class="add-favorite-container">
            <% if @facade.is_favorite?(article[:url]) %>
              <h4 class="add-favorite">Added to Favorites</h4>
            <% else %>
              <%= link_to "Add to Favorites", 
                add_favorite_path(favorite: {
                  image: article[:urlToImage], 
                  title: article[:title], 
                  source_name: article[:source][:name], 
                  published_at: article[:publishedAt], 
                  url: article[:url] }),
                method: :post,
                class: "add-favorite" %>
            <% end %>
          </div>
        </div>
      </article>
    <% end %>
  <% end %>
</main>